<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XilinxSupportLib.Properties.Settings.PerfDBConnectionString" connectionString="Data Source=|DataDirectory|\SystemSharp\Interop\Xilinx\PerfCache\PerfDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
